extends ../layouts/common

block content

   .row
       each product in products
          .card.col-sm-3

            img.card-img-top(src=product.imageUrl, alt='Card image')
            .card-body
              h4.card-title=product.name
              p.card-text=product.description
              a.btn.btn-primary(href='/cart/add/'+product.id) Add to Cart
   
   - var i =startPage;
   - var previous=(activePage-1)==0?1:(activePage-1);
   - var next=activePage+1;


   ul.pagination
      li.page-item
        a.page-link(href='/products?page='+previous)  &lt;&lt; 
      while i<=endPage
          if i==activePage
            li.page-item.active
                a.page-link(href='/products?page='+i)=i++ 
          else   
            li.page-item
                a.page-link(href='/products?page='+i)=i++    
      li.page-item
        a.page-link(href='/products?page='+next)  &gt;&gt; 

      

